<section class="flex flex-col gap-y-2.5">
  <h1 class="max-md:text-xl text-2xl font-bold text-slate-800">{{ data.fr.educationSection.title }}</h1>

  <div class="flex flex-col gap-y-2.5">
    <div *ngFor="let school of data.fr.educationSection.schools">
      <div class="flex justify-between items-center">
        <div class="flex flex-col gap-y-1">
          <h1 class="max-md:text-lg text-xl font-bold text-slate-800">
            <a [href]="school.link" class="hover:underline hover:text-slate-600">
              {{ school.name }}
            </a>
            <span class="md:hidden text-slate-600 font-light">
              <b class="font-bold text-slate-800"> • </b>
              {{ school.startYear }} - {{ school.endYear }}
            </span>
          </h1>
          <p class="lg:text-lg text-slate-600">{{ school.degree }}</p>
        </div>
        <div class="max-md:hidden">
          <p class="text-slate-600">{{ school.startYear }} - {{ school.endYear }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
